.forecast {
    width: 700px;
    color: #fff;
    position: relative;
    border-radius: 10px;
    // https://thoitiet.app/assets/images/banner.png
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
        url(../../../../../public/image/19.jpg) no-repeat center/cover;
    border: 1px solid transparent;

    &:hover {
        border: 1px solid #00000042;
    }
}
.forecast-five {
    display: flex;
    align-items: center;
    margin: 0 20px;
    padding: 10px;
    border-bottom: 1px solid #ffffff80;
}
.forecast-time {
    display: flex;
    align-items: center;
    width: 160px;
}
.temp-detail {
    display: flex;
    align-items: center;
}
.icon {
    margin-right: 10px;
    width: 30px;
    height: 30px;
}
.description {
    margin-left: 5px;
    width: 120px;
}
.energy,
.humidity,
.wind {
    display: flex;
    align-items: center;
}
.icon-humidity,
.icon-wind {
    width: 15px;
    margin: 0 10px;
}
.icon-wind {
    width: 20px;
    margin: 0 8px;
}
