.air-quality {
    margin-top: 30px;
    margin-right: 180px;
    width: 400px;
    height: 460px;
    border: 1px solid #cccccc6b;
    box-shadow: 3px 4px 0 #cccccc6b;

    h3 {
        padding-top: 10px;
        text-align: center;
    }
}
.info {
    padding: 20px 10px;
}
.polluted-state {
    display: flex;
}
.quality {
    display: flex;
    justify-content: center;
    align-items: center;
}
.aqi {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fa541c;
    border-radius: 50%;
    background-color: #ffd8bf;
    color: #d4380d;
    width: 100px;
    height: 100px;
    font-size: 1.6rem;
}
.des-aqi {
    margin-left: 5px;
    width: 250px;
    text-align: left;
}
.pollution {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}
.pollution + .pollution {
    border-top: 1px solid #e9e5e1;
    padding-top: 10px;
}
.name-polu {
    height: 30px;
}
.red {
    background-color: #ff000084;
    color: #d4380d;
    border-color: #d4380d;
}
.green {
    background-color: #29e05173;
    color: #15c03a;
    border: 1px solid #29e050cd;
}
.people {
    padding: 5px 20px;
}
